<app-loader></app-loader>
<div class="row">
    <div class="col-md-12">
        <mat-card>
            <mat-card-title>
                <div class="gradient-Header">
                    <div class="gradient-child">
                        <h5 *ngIf="data.id == 0">اضافة</h5>
                        <h5 *ngIf="data.id !== 0">تعديل</h5>
                    </div>
                </div>

            </mat-card-title>
            <form [formGroup]="examsForm" autocomplete="off" *ngIf="examsForm" novalidate
                (ngSubmit)="onSubmit(examsForm.value)">
                <mat-card-content>
                    <input type="hidden" formControlName="id">

                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field>
                                <input matInput type="text" placeholder="اسم الاختبار" formControlName="name" id="name">
                                <mat-error *ngIf="hasError('name', 'required')">هذا الحقل مطلوب</mat-error>
                                <mat-error *ngIf="hasError('name', 'maxlength')">الاسم اكثر من 200 حرف</mat-error>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field>
                                <mat-label>اسم المرحلة</mat-label>
                                <mat-select formControlName="levelId" id="levelId"
                                    (selectionChange)="levelsSelectionChanged($event.value)">
                                    <mat-option *ngFor="let item of levelDropDownList" [value]="item.id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="hasError('levelId', 'required')">هذا الحقل مطلوب</mat-error>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field>
                                <mat-label>اسم المادة</mat-label>
                                <mat-select formControlName="materialId" id="materialId"
                                    (selectionChange)="materialSelectionChanged($event.value)">
                                    <mat-option *ngFor="let item of materialDropDownList" [value]="item.id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="hasError('materialId', 'required')">هذا الحقل مطلوب</mat-error>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field>
                                <mat-label>اسم الوحدة</mat-label>
                                <mat-select formControlName="unitId" id="unitId">
                                    <mat-option *ngFor="let item of unitDropDownList" [value]="item.id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="hasError('unitId', 'required')">هذا الحقل مطلوب</mat-error>
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field>
                                <mat-label>نوع الاختبار</mat-label>
                                <mat-select formControlName="examType" id="examType">
                                    <mat-option *ngFor="let item of examTypes" [value]="item.value">
                                        {{ item.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field>
                                <input matInput disabled [matDatepicker]="dp1" placeholder="تاريخ الظهور"
                                    formControlName="apperanceDate" id="apperanceDate">
                                <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                                <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field>
                                <input matInput disabled [matDatepicker]="dp2" placeholder="تاريخ النهاية"
                                    formControlName="endDate" id="endDate">
                                <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                                <mat-datepicker #dp2 disabled="false"></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field>
                                <input matInput type="text" placeholder="الرابط" formControlName="url" id="url">
                                <mat-error *ngIf="hasError('name', 'required')">هذا الحقل مطلوب</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                </mat-card-content>

                <mat-card-actions>

                    <button mat-raised-button color="primary" [disabled]="!examsForm.valid">
                        {{ data.id !== 0 ? 'تعديل' : 'اضافة' }}
                    </button>
                    <button mat-flat-button color="secondary" matDialogClose>اغلاق</button>

                </mat-card-actions>
            </form>

        </mat-card>


    </div>
</div>